name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 0/6 * * *"}]
  # Lines below let you run workflow manually and on each commit (optional)
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # See action.yml for all options
      - uses: lowlighter/metrics@latest
        with:
          base: header, activity, metadata
          token: ${{ secrets.token }}
          config_timezone: Asia/Shanghai
          
          plugin_wakatime: yes
          plugin_wakatime_token: ${{ secrets.WAKETIME }}
          plugin_wakatime_sections: time, projects-graphs, languages-graphs, editors-graphs, os-graphs
    
          plugin_notable: yes
          plugin_notable_repositories: yes
          plugin_notable_indepth: yes
          plugin_notable_from: all
          plugin_notable_filter: stars:>1 
          plugin_notable_types: pull_request, commit

